[submodule "C-ajwans-libtoml/libtoml"]
	path = C-ajwans-libtoml/libtoml
	url = https://github.com/ajwans/libtoml
[submodule "C-cktan-tomlc99/tomlc99"]
	path = C-cktan-tomlc99/tomlc99
	url = https://github.com/cktan/tomlc99.git
[submodule "toml-test"]
	path = toml-test
	url = git@github.com:zofrex/toml-test.git
